# Dependencies (in source folders)
node_modules/
_source/frontend/node_modules/
_source/backend/node_modules/

# Environment files
.env
.env.local
!.env.example

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
_source/frontend/node_modules/.cache/default-development/0.pack
_source/frontend/node_modules/.cache/default-development/6.pack
_source/frontend/node_modules/.cache/default-development/4.pack
